div.content{
	margin: 20px;
	display: none;
}
div.slide{
	padding: 10px;
}
div.slide h1{
	color: white;
    font-family: Calibri, Arial;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}
div.slide p{
	color: white;
	font-family: Calibri, Arial;
	font-size: 14pt;
}
div.slide hr{
	margin: 20px 0px;
	background-color: #ddd;
	height: 1px;
}
div.text-group{
	margin-left: 5%;
}
div#intro, div#conteudo0{
	text-align: center;
}
div#conteudo1 hgroup{
	padding: 10px 25px;
}
div#conteudo1 h2{
	color: #fff;
	font-size: 1.7rem;
	margin-bottom: 25px;
}
div#conteudo1 h3{
	color: white;
	font-size: 1.3rem;
	margin-left: 20px;
	margin-bottom: 20px;
}
#conteudo1 a{
	color: white;
}
#conteudo1 .tab-pane{
	border: 2px dashed #17a2b8;
	border-radius: 10px;
}
#conteudo2 a{
	color: white;
}
#comp .text-group{
	width: 60%;
}
#comp .text-group p{
	background-color: #517096;
	padding: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.2s;
}
#comp .text-group p:hover{
	-webkit-transform: scale(1.1);
}
#conteudo6 .nav-link{
	color: white;
}
#conteudo6 .nav .active{
	color: #17a2b8;
	font-weight: bolder;
}
#nav-ctnbio h3, #nav-cnbs h3{
	color: white;
	margin-bottom: 20px;
}
#nav-ctnbio .tab-pane{
	background-color: #656565;
	border-radius: 10px;
}
#composicao p{
	background-color: #517096;
	padding: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.2s;
}
#composicao p:hover{
	-webkit-transform: scale(1.1);
}
#nav-cnbs img{
	width: 80%;
	height: auto;
}
div#conteudo8 h2{
	font-size: 20pt;
	color: white;
	margin-bottom: 20px;
}
div#conteudo8 h3{
	font-size: 14pt;
	color: white;
}
div#conteudo8 .nav-link{
	background-color: #17a2b8;
}
div#conteudo8 a.active{
	border: 2px solid white;
}
div#accordion1 button{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
ul#slide-tab-1 li a{
  background-color: #656565;
  color: white;
}
div#slideTabContent1 .tab-pane{
	padding: 35px 15px;
}
div#conteudo12 table, div#conteudo13 table{
	width: 60%;
}
div#conteudo12 thead, div#conteudo13 thead{
	background-color: #17a2b8;
}
div#conteudo13 td {
	color: white;
}
div#conteudo21 #cabine1 .card, div#conteudo21 #cabine2 .card{
	background-color: #777;
}
#conteudo22 .card{
	background-color: #517096;
}
div#conteudo23 img{
	width: 30%;
	height: auto;
}
div#conteudo23 li a{
	padding: 0% 25px;
	margin: 10px;
	background-color: #656565;
	color: white;
}