div.content{
	margin: 20px;
	display: none;
}
div.slide{
	padding: 10px;
}
div.slide h1{
	color: white;
    font-family: Calibri, Arial;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}
div.slide p{
	color: white;
	font-family: Calibri, Arial;
	font-size: 14pt;
}
div.slide hr{
	margin: 20px 0px;
	background-color: #ddd;
	height: 1px;
}
div.text-group{
	margin-left: 5%;
}
div#intro, div#conteudo0{
	text-align: center;
}
div#conteudo1 hgroup{
	padding: 10px 25px;
}
div#conteudo1 h2{
	color: #fff;
	font-size: 1.7rem;
	margin-bottom: 25px;
}
div#conteudo1 h3{
	color: white;
	font-size: 1.3rem;
	margin-left: 20px;
	margin-bottom: 20px;
}
div#conteudo5 .text-group{
	text-align: center;
	margin: 0;
}
div#conteudo11 h2{
	font-size: 20pt;
	color: white;
	margin-bottom: 20px;
}
div#conteudo11 h3{
	font-size: 14pt;
	color: white;
}
div#accordion1 button{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
ul#slide-tab-1 li a{
  background-color: #656565;
  color: white;
}
div#slideTabContent1 .tab-pane{
	padding: 35px 15px;
}
div#conteudo17 table, div#conteudo18 table{
	width: 60%;
}
div#conteudo17 thead, div#conteudo18 thead{
	background-color: #17a2b8;
}
div#conteudo18 td {
	color: white;
}
div#conteudo26 #cabine1 .card, div#conteudo26 #cabine2 .card{
	background-color: #777;
}
div#conteudo29 img{
	width: 30%;
	height: auto;
}
div#conteudo29 li a{
	padding: 0% 25px;
	margin: 10px;
	background-color: #656565;
	color: white;
}